<head>

    {{ recaptcha:head }}

    {{ recaptcha:disclaimer }}

</head>

<div class="w-full py-56 shadow-2xl px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('{{ image }}');background-position: center">

<div class="container max-w-7xl mx-auto text-center">
    </div>

</div>

<section class="bg-no-repeat bg-center text-center w-full bg-cover w-full object-top" style="background-image: url('');">
    <div class="container px-9 py-24 mx-auto">


        <div class="flex-1 h-full bg-pink text-white p-8 mx-2 rounded">


            <h1 class="text-3xl font-medium title-font text-white mb-5 text-center">{{title}}</h1>
            <p class=" mt-3 text-white mb-3">{{content}}</p>

            <a href="/nettt">
                <button class="rounded mt-5 bg-white font-medium items-center text-pink px-4 py-3 no-underline transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                    Lees verder &raquo;
                </button> </a>

        </div>

    </div>

</section>



<section class="bg-no-repeat bg-center text-gray-700 text-center body-font color bg-gray-800 w-full bg-cover w-full object-top" style="background-image: url('');">
    <div class="container px-5 p-4 mx-auto ">

        <div class="lg:w-1/2 md:w-2/3 mx-auto">

        </div>

    </div>

    <div class="flex flex-col text-center w-full mb-7">
        <h1 class="sm:text-3xl text-2xl font-bold  title-font mb-4 text-pink">{{ titel_blok_2 }}</h1>
        <p class="lg:w-2/3 mx-auto leading-relaxed text-base">{{contentblok_2}}</p>
    </div>

    {{ form:contact }}
    <section class="text-gray-700 rounded body-font relative">
        <div class="container w-60 text-black rounded font-medium text-center bg-gray px-20 rounded px-5 py-14 mx-auto">
            <div class="flex flex-col rounded text-center w-full ">

            </div>
            <div class=" rounded = mx-auto">
                <div class="flex flex-wrap ">
                    <div class="">
                        <div class="relative">
                            {{ if success }}
                            <div class=" text-center text-black">
                                {{ success }}
                            </div>
                            {{ else }}

                        </div>
                    </div>
                    <div class="">
                        <div class="relative">
                            {{ if errors }}
                            <div class=" text-center text-black">
                                {{ errors }}
                                {{ value }}<br>
                                {{ /errors }}
                            </div>
                            {{ /if }}



                        </div>
                    </div>
                    <div class="text-black p-2 w-full">
                        <div class="relative">

                            {{ fields }}

                            <div class="p-2">
                                <label>{{ display }}</label>

                                <div class="p-1">{{ field }}</div>

                                {{ if error }}

                                <p class=" text-center text-black">{{ error }}</p>
                                {{ /if }}

                            </div>

                            {{ /fields }}

                            {{ recaptcha }}

                            <button class=" mt-10 mb-10 rounded bg-pink items-center text-white px-10 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300" type="submit"> Formulier versturen</button>

                            {{ /if }}

                            {{ /form:contact }}


                        </div>

                    </div>

                </div>
            </div>
        </div>
    </section>
</section>

