<div class="w-full py-56  shadow-2xl px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('{{ image }}');background-position: center">

<div class="container max-w-7xl mx-auto text-center">
    </div>

</div>

<!-- /home content -->

<!-- about -->
<section class="text-center body-font color bg-white w-full bg-cover w-full object-top">
    <div class="container px-7 py-20 mx-auto">

        <div class="flex flex-wrap " >
            <div class="h-full bg-gray p-8 rounded">

                <div class="xl:w-1/2 lg:w-3/4 w-full mx-auto text-center">
                    <h1 class="sm:text-3xl text-2xl font-bold  title-font mb-4 text-pink"> {{ title }}</h1>
                    <p class="text-black font-medium"> {{ content }} </p>
                </div>

            </div>
        </div>
</section>

<section class="text-gray-700 body-font relative">
    <div class="container px-5 p-4 mx-auto mb-5">
        <div class="flex flex-col text-center w-full mb-12">
            <h1 class="sm:text-3xl text-2xl font-bold  title-font mb-4 text-pink">Neem contact met ons op</h1>
            <p class="lg:w-2/3 mx-auto leading-relaxed text-base">Whatever cardigan tote bag tumblr hexagon brooklyn asymmetrical gentrify.</p>
        </div>
        <div class="lg:w-1/2 md:w-2/3 mx-auto">


        </div>

    </div>

    {{ form:contact }}
    <section class="text-gray-700 body-font relative">
        <div class="container px-5 py-14 mx-auto">
            <div class="flex flex-col text-center w-full ">

            </div>
            <div class="lg:w-1/2 md:w-2/3 mx-auto">
                <div class="flex flex-wrap -m-2">
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            {{ if success }}
                            <div class="bg-green-300 text-white p-2">
                                {{ success }}
                            </div>
                            {{ else }}

                        </div>
                    </div>
                    <div class="p-2 w-1/2">
                        <div class="relative">
                            {{ if errors }}
                            <div class="bg-red-300 text-white p-2">
                                {{ errors }}
                                {{ value }}<br>
                                {{ /errors }}
                            </div>
                            {{ /if }}



                        </div>
                    </div>
                    <div class="p-2 w-full">
                        <div class="relative">

                            {{ fields }}

                            <div class="p-2">
                                <label>{{ display }}</label>

                                <div class="p-1">{{ field }}</div>

                                {{ if error }}

                                <p class="text-gray-500">{{ error }}</p>
                                {{ /if }}

                            </div>

                            {{ /fields }}

                            <button class="ml-3 mb-10 mt-10" type="submit">Submit</button>

                            {{ /if }}

                            {{ /form:contact }}


                        </div>

                    </div>

                </div>
            </div>
        </div>
