
<!-- slider -->

<div class="w-full py-64  shadow-2xl px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('{{ image }}');background-position: center">


    <div class="container max-w-7xl mx-autor">
    </div>

    <svg class="w-full bg-cover w-full object-top mt-48 animate-bounce text-center w-6 h-8 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
        <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
    </svg>

</div>

<!-- /slider -->
<!-- home content -->
<section class="text-gray-700 bg-pink body-font">
    <div class="container px-5 py-16 text-center text-white mx-auto">


        <h1 class="text-3xl font-medium title-font text-white mb-10 text-center"> {{ titel_blok_1 }}</h1>
        <div class=" lg:w-3/4 w-full text-white mx-auto text-center">

            <p class ="mb-5" {{ content }} </p>
            <a href="/nettt">
            <button class="rounded bg-white items-center text-pink px-4 mt-7 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                Lees verder &raquo;
            </button> </a>

        </div>
    </div>
</section>


<!-- /nieuws -->
<section class="text-gray-700 py-6 mb-10 mt-5 bg-white body-font">
    <div id="news">
        <h1 class="text-3xl font-bold title-font text-pink mt-10 mb-5 text-center">Nieuws</h1>
        <div class="bg-pink h-1 w-24 m-auto "></div>


        <div class="w-full px-10 py-3 text-left bg-white-300 text-pink leading-normal">
            <div class="container max-w7xl mx-auto flex justify-center flex-wrap md:flex-no-wrap">

                <div class="flex text-black flex-wrap pb-16">

                    <div class="container mx-auto">

                        <div class="max-w-screen-xl mx-auto">

                            {{ collection:news paginate="3" as="news" }}

                            <div class="grid grid-cols-3 space-x-1 grid-cols-2 gap-8 mt-16 ">

                                {{ news }}

                                <a href=" {{ url }}" class="w-full  h-full flex-1 border-black shadow hover:shadow-lg transition rounded transform motion-reduce:transform-none hover border-1 rounded border-gray :-translate-y-1 hover:scale-90 transition ease-in-out duration-300">

                                    <img class="h-64 w-80" transform src="{{ image }}" width="600" height="300"  alt="{{ image:alt }}" class="rounded-t">

                                    <article class="p-2 ">
                                        <div class ="flex items-center">

                                            <div class="leading-tight">

                                                <h2 class="text-1xl font-bold text-pink leading-tight mt-1"> {{ title }} </h2>
                                            </div>
                                        </div>


                                        <p class="text-sm text-gray-600"> {{ date }} </p>
                                    </article>

                                </a>

                                {{ /news }}

                            </div>
                            {{ /collection:news }}

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="/nieuws">
                <button class="rounded bg-pink items-center text-white px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                    Bekijk alle nieuwsberichten &raquo;
                </button> </a>
            </div>
        </div>

</section>


<!-- /home content -->

<!-- about -->
<section class="bg-no-repeat bg-center text-gray-700 text-center body-font color bg-gray-800 w-full bg-cover w-full object-top" style="background-image: url('https://scontent-amt2-1.xx.fbcdn.net/v/t1.0-9/121197731_3970574902993108_9165789037331815850_o.jpg?_nc_cat=102&ccb=2&_nc_sid=2c4854&_nc_ohc=c5RZHzQ8ATMAX-4xAkr&_nc_ht=scontent-amt2-1.xx&oh=00cd61cb731be62a3eadccfc39d4e226&oe=5FF200EF');">
    <div class="container px-5 py-24 mx-auto">

        <div class="flex flex-wrap  -m-4" >


            <div class="h-full bg-white shadow-xl bg-gray-200 p-8 rounded"> <h1 class="text-3xl font-medium title-font text-pink mb-7 text-center"> {{ titel_blok_2 }} </h1>

                <div class="xl:w-1/2 lg:w-3/4 w-full text-whitte mx-auto text-center">

                    <p class="mb-10 font-light">Edison bulb retro cloud bread echo park, helvetica stumptown taiyaki taxidermy 90's cronut +1 kinfolk. Single-origin coffee ennui shaman taiyaki vape DIY tote bag drinking vinegar cronut adaptogen squid fanny pack vaporware. Man bun next level coloring book skateboard four loko knausgaard. Kitsch keffiyeh master cleanse direct trade indigo juice before they sold out gentrify plaid gastropub normcore XOXO 90's pickled cindigo jean shorts. Slow-carb next level shoindigoitch ethical authentic, yr scenester sriracha forage franzen organic drinking vinegar.</p>

                    <a href="/nettt">
                    <button class="rounded bg-pink items-center text-white px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                        Lees verder &raquo;
                    </button> </a>

                    <svg class="animate-bounce w-6 h-6 text-white" fill="none" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" stroke="currentColor">
                        <path d="M19 14l-7 7m0 0l-7-7m7 7V3"></path>
                    </svg>

                </div>

            </div>
        </div>
</section>

<!-- /about -->

<div class="block block-hotspots  bg-gray-200 py-16">

    <div class="relative">
        <div class="flex w-100 flex-wrap  lg:flex">
            <div class="w-full  py-4 lg:w-3/5"><img src="https://media-exp1.licdn.com/dms/image/C4D1BAQHc_dD5hjv1Nw/company-background_10000/0?e=2159024400&v=beta&t=QL47HA1TF_3Kh04LWkheTMG-cb8n2mjSF_yxSI67TL8"></div>
            <div class="hidden lg:block lg:w-2/5 bg-gray bg-opacity-75 transform scale-y-90"></div>
        </div>
        <div class="lg:absolute  top-0 w-full h-full flex items-center">
            <div class="container m-auto flex justify-end  items-center h-full">
                <div class="bg-pink rounded  p-6 w-full lg:w-3/5 xl:w-1/2 transform -translate-y-6 lg:translate-y-0 mx-3 lg:m-0  overflow-auto" style="height: 80%;">
                    <div class="flex-wrap w-full h-full flex justify-center items-center text-center text-white">
                        <div>
                            <div class="text-lg italic">Dit zijn onze</div>
                            <h2 class="font-bold text-3xl mb-3">Diensten</h2>
                            <div class="bg-white h-1 w-24 m-auto mb-6"></div>
                            <div class="italic">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci aperiam asperiores, assumenda beatae doloribus esse in inventore ipsa labore, laboriosam laudantium magnam minima, molestiae necessitatibus omnis porro quos recusandae repellat sapiente similique tempore unde ut! A accusantium alias animi consequuntur cum cumque dignissimos doloribus enim esse est fuga maiores maxime nobis praesentium provident quidem quisquam, repellat voluptas. A amet, hic incidunt inventore minus, nemo nisi quod quos, soluta tempora totam voluptate voluptatem voluptatibus? Aut maxime, modi nemo omnis optio quasi unde! Architecto assumenda fugiat necessitatibus provident quisquam sed temporibus. Atque deserunt distinctio dolores et, incidunt minus possimus ut. Quis?
                            </div>

                            <a href="/nettt">
                                <button class="mt-10 rounded bg-white items-center text-pink px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                                    Lees verder &raquo;
                                </button> </a>
                        </div>



                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- /nieuws -->
<section class="text-gray-700 py-6 mb-10 mt-5 bg-white body-font">
    <div id="news">
        <h1 class="text-3xl font-bold title-font text-pink  mb-5 text-center">Projecten</h1>
        <div class="bg-pink h-1 w-24 m-auto "></div>


        <div class="w-full px-10 py-3 text-left bg-white-300 text-pink leading-normal">
            <div class="container max-w7xl mx-auto flex justify-center flex-wrap md:flex-no-wrap">

                <div class="flex text-black flex-wrap pb-16">

                    <div class="container mx-auto">

                        <div class="max-w-screen-xl mx-auto">

                            {{ collection:projects paginate="3" as="projects" }}

                            <div class="grid grid-cols-3 space-x-1 grid-cols-2 gap-8 mt-16 ">

                                {{ projects }}

                                <a href=" {{ url }}" class="w-full  h-full flex-1 border-black shadow hover:shadow-lg transition rounded transform motion-reduce:transform-none hover border-1 rounded border-gray :-translate-y-1 hover:scale-90 transition ease-in-out duration-300">

                                    <img class="h-64 w-80" transform src="{{ image }}" width="600" height="300"  alt="{{ image:alt }}" class="rounded-t">

                                    <article class="p-2 ">
                                        <div class ="flex items-center">

                                            <div class="leading-tight">

                                                <h2 class="text-1xl font-bold text-pink leading-tight mt-1"> {{ title }} </h2>
                                            </div>
                                        </div>


                                        <p class="text-sm text-gray-600"> {{ date }} </p>
                                    </article>

                                </a>

                                {{ /projects }}

                            </div>
                            {{ /collection:projects }}

                        </div>
                    </div>
                </div>
            </div>

            <div class="text-center">
                <a href="/projects">
                    <button class="rounded bg-pink items-center text-white px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                        Bekijk al onze projecten &raquo;
                    </button> </a>
            </div>
        </div>

</section>





<section class="bg-no-repeat bg-center text-gray-700 text-center body-font color bg-gray-800 w-full bg-cover w-full object-top" style="background-image: url('https://images.pexels.com/photos/273214/pexels-photo-273214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
    <div class="container px-9 py-24 mx-auto">

        <div class="flex flex-wrap m-4" >
            <div class="p-4 md:w-1/2 w-full" >
                <div class="h-full bg-pink bg-gray-200 shadow-xl p-8 rounded"> <h1 class="text-3xl font-medium title-font text-white mb-5 text-center">Locatie</h1>

                    <p class="text-white leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>

                    <a href="/nettt">
                    <button class="rounded bg-white items-center text-pink px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                        Lees verder &raquo;
                    </button> </a>
                </div>
            </div>
            <div class="p-4 md:w-1/2 w-full">
                <div class="h-full bg-white bg-gray-200 shadow-xl p-8 rounded"> <h1 class="text-3xl font-medium title-font text-pink mb-5 text-center">Contact</h1>

                    <p class="leading-relaxed mb-6">Synth chartreuse iPhone lomo cray raw denim brunch everyday carry neutra before they sold out fixie 90's microdosing. Tacos pinterest fanny pack venmo, post-ironic heirloom try-hard pabst authentic iceland.</p>

                    <a href="/form">
                    <button class="rounded bg-pink items-center text-white px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                        Lees verder &raquo;
                    </button></a>

                </div>
            </div>
        </div>
    </div>
</section>
