<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title ?? site:name }}</title>
        <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
        <script src="{{ mix src='/js/site.js' }}"></script>
        {{ recaptcha:head }}

    </head>

    <body>

    <header class="text-gray-700 body-font">
        <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

                <div class="container py- mx-auto">
                    <div class="flex w-full justify-between">
                        <div class="transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-80 transition ease-in-out duration-300 inline-flex">
                            <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0" href="/">
                                <img src="{{ site_url }}/images/Nettt_Pink_magenta.svg" class="h-20 w-60 ml-2 mb-10 mt-10" />
                            </a>
                        </div>


                <div class="inline-flex">
                    <div class="block">
                        <nav class="block md-auto ml-auto mt-10 text-base font-light w-full text-right">
                            <a href="/" class="mr-10 hover:text-gray-900">Over ons</a>

                            <a href="/form" class="mr-10  hover:text-gray-900">Contact</a>

                            <div class="pt-2 relative mx-auto text-gray-600 inline-block">
                                <input class="border border-gray-300 bg-white h-10 px-4 pr-12 rounded text-sm focus:outline-none"
                                       type="search" name="search" placeholder="Zoeken">
                                <button type="submit" class="absolute right-0 top-0 mt-5 mr-4">
                                    <svg class="text-gray-600 h-4 w-4 fill-current" xmlns="http://www.w3.org/2000/svg"
                                         xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px"
                                         viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;" xml:space="preserve"
                                         width="512px" height="512px">
            <path
                d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
          </svg>
                                </button>
                            </div>
                        </nav>

                        <nav class="block md:ml-auto items-center mt-4 text-base text-xl font-medium w-full text-right md:ml-auto flex flex-wrap items-center text-base justify-center">

                            {{ nav:collection:pages }}


                            <a href="{{ url }}" class="hover:text-pink rounded text-black items-center text-white  ml-8 ">{{ title }}</a>

                            {{ /nav:collection:pages }}

                        </nav>
                    </div>
                </div>
            </div>
        </div>

    </header>

    {{ template_content }}

    <footer class="text-gray-700 body-font">
        <div class="container  py-14 mt-6  mx-auto">
            <div class="flex w-full justify-between">
                <div class="transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-80 transition ease-in-out duration-300 inline-flex">
                    <a href="/">
                        <img src="{{ site_url }}/images/Nettt_Pink_magenta.svg" class="h-20 w-60 mt-10 ml-2" />
                    </a>
                </div>
                <div class="lg:w-1/4 md:w-1/4 w-full mt-8 mr-10 ml-10 px-10">
                    <nav class="list-none mb-4">



                        <li>
                            <a class="text-gray-600 hover:text-gray-800 font-bold">Nettt Interactieve Media</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Webdesign in Herkenbosch</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">Stationsweg 84</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">6075 CD, Herkenbosch</a>
                        </li>
                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/4 w-full mt-8 mr-10 ml-2 px-10">
                    <nav class="list-none mb-4">
                        <li>
                            <a class="text-gray-600 hover:text-gray-800 font-bold">Contact</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">0475 358 905</a>
                        </li>
                        <li>
                            <a class="text-gray-600 hover:text-gray-800">info@nettt.nl</a>
                        </li>

                    </nav>
                </div>
                <div class="lg:w-1/4 md:w-1/2 w-full mt-10 px-4 ml-10">
                    <h2 class="title-font font-medium text-gray-900 tracking-widest text-sm mb-2">Volg ons op sociale media:</h2>
                    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">
      <a class="transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
        </svg>
      </a>
      <a class="ml-5 transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 text-gray-500">
        <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <path d="M23 3a10.9 10.9 0 01-3.14 1.53 4.48 4.48 0 00-7.86 3v1A10.66 10.66 0 013 4s-4 9 5 13a11.64 11.64 0 01-7 2c9 5 20 0 20-11.5a4.5 4.5 0 00-.08-.83A7.72 7.72 0 0023 3z"></path>
        </svg>
      </a>
      <a class="ml-5 transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 text-gray-500">
        <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
          <rect width="20" height="20" x="2" y="2" rx="5" ry="5"></rect>
          <path d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37zm1.5-4.87h.01"></path>
        </svg>
      </a>
      <a class="ml-5 transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 text-gray-500">
        <svg fill="currentColor" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="0" class="w-5 h-5" viewBox="0 0 24 24">
          <path stroke="none" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
          <circle cx="4" cy="4" r="2" stroke="none"></circle>
        </svg>
      </a>
    </span>
                </div>
            </div>
        </div>

    </footer>

    <footer class="w-full bg-white mt-7 text-black px-6 border-t">
        <div class="container mx-auto  text-black py-6 flex flex-wrap md:flex-no-wrap  justify-between items-center text-sm">
            &copy;2021 Nettt Interactieve Media. All rights reserved.
            <div class="pt-4 md:p-0 text-center md:text-right text-xs">
                <a href="#" class="text-black no-underline hover:underline">Privacy Policy</a>
                <a href="#" class="text-black no-underline hover:underline ml-4">Terms &amp; Conditions</a>
                <a href="#" class="text-black no-underline hover:underline ml-4">Nettt</a>
            </div>
        </div>
    </footer>


</html>
