<!DOCTYPE html>
<html lang="en">
<head>
</head>
<body>
<div class="w-full py-56 object-cover shadow-2xl px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('{{ image }}');background-position: center">

    <div class="container max-w-7xl mx-autor">
    </div>

</div>



<section class="text-gray-700 body-font">
    <div class="container px-5 py-24 mx-auto">
        <div class="flex flex-col
            text-left  w-full mb-7">

            <h1 class="sm:text-3xl text-2xl text-left font-bold text-pink title-font mb-4 text-gray-900"> {{ title }}</h1>

            <p> {{ content }} </p>


        </div>

        <a href="/">
            <button  class="rounded bg-pink items-center  text-white px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-80transition ease-in-out duration-300 ...">
                Ga terug naar home &raquo;
            </button> </a>

    </div>

    <section class="bg-no-repeat bg-center text-gray-700 text-center object-cover body-font color w-full object-top " style="background-image: url('https://images.pexels.com/photos/273214/pexels-photo-273214.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');">
        <div class="container px-9 py-24 mx-auto">

            <div class="flex flex-wrap" >
                <div class="md:w-1/2 " >
                    <div class="h-full bg-white bg-gray-200  p-8 rounded bg-no-repeat bg-center text-gray-700 text-center body-font color bg-gray-800 w-full bg-cover w-full object-top sm:object-fill" style="background-image: url('{{ image_blok_1 }}');background-position: center">

                    </div>
                </div>
                <div class=" md:w-1/2 ">
                    <div class="h-full bg-white bg-gray-200 p-8 rounded"> <h1 class="text-3xl font-medium title-font text-pink mb-5 text-center">{{ titel_blok_1 }}</h1>

                        <p class="leading-relaxed mb-6" {{ ccontentblok_2 }}</p>

                        <a href="/form">
                            <button class="rounded bg-pink items-center text-white px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                                Lees verder &raquo;
                            </button></a>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-no-repeat bg-center text-gray-700 text-center body-font color bg-gray-800 w-full  bg-cover w-full object-top">
        <div class="container px-9 py-24 mx-auto">

            <div class="flex flex-wrap" >
                <div class="md:w-1/2 " >
                    <div class="h-50 bg-pink bg-gray-200  p-8 rounded"> <h1 class="text-3xl font-medium title-font text-white mb-5 text-center">{{titel_blok_3}}</h1>

                        <p class="text-white leading-relaxed mb-6" {{content_blok_1}}</p>

                        <a href="/nettt">
                            <button class="rounded bg-white items-center text-pink px-4 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                                Lees verder &raquo;
                            </button> </a>
                    </div>
                </div>
                <div class=" md:w-1/2 ">
                    <div class="h-full bg-white bg-gray-200  p-8 rounded bg-no-repeat bg-center text-gray-700 text-center body-font color bg-gray-800 w-full bg-cover w-full object-top" style="background-image: url('{{ image_blok_3 }}');background-position: center">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- /about -->




</body>
</html>
