<a href =" {{ url }} " class="w-full h-full border-gray-400 shadow hover:shadow-lg transition rounded transform motion-reduce:transform-none hover border-1 rounded border-gray :-translate-y-1 hover:scale-90 transition ease-in-out duration-300">


    <img class="h-40 w-full rounded" src="{{ image }}" alt="{{ image:alt }}" class="rounded-t">

        <article class="p-2 ">
            <div class ="flex items-center">

                <div class="leading-tight">
                    <h2 class="text-1xl font-bold text-pink leading-tight mt-4"> {{ title }} </h2>


                </div>
            </div>

            <p class="text-sm text-gray-600"> {{ date }} </p>
        </article>

    </a>
</a>
