<div class="w-full py-56 object-cover px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('{{ image }}');background-position: center">

    <div class="container max-w-7xl mx-auto">
    </div>

</div>


<section class="text-gray-700 py-8 mb-10 mt-5 bg-white body-font">
    <div id="news">
        <h1 class="text-3xl font-bold title-font text-pink mt-10 mb-5 text-center"> {{title}}</h1>
        <div class="bg-pink h-1 w-24 m-auto "></div>


        <div class="w-full  text-left bg-white-300 text-pink leading-normal">
            <div class="container max-w7xl mx-auto flex justify-center flex-wrap md:flex-no-wrap">

                <div class="flex text-black flex-wrap pb-16">

                    <div class="container mx-auto">

                        <div class="mx-auto">

                            {{ collection:projects paginate="6" as="projects" }}

                            <div class="grid grid-cols-3 flex w-full mt-5 -mx-2">

                                {{ projects }}

                                <a href=" {{ url }}" class="mt-5 block mx-2 rounded transform motion-reduce:transform-none hover border-2 rounded border-gray :-translate-y-1 hover:scale-90 transition ease-in-out duration-300">

                                    <img class="object-cover  h-56 w-full" transform src="{{ image }}" width="600" height="300"  alt="{{ image:alt }}" class="rounded-t">

                                    <article class="p-2 ">
                                        <div class ="flex items-center">

                                            <div class="leading-tight">

                                                <h2 class="text-1xl font-bold text-pink leading-tight mt-1"> {{ title }} </h2>
                                            </div>
                                        </div>


                                        <p class="text-sm text-gray-600"> {{ date }} </p>
                                    </article>

                                </a>

                                {{ /projects }}

                            </div>
                            {{ /collection:projects }}

                        </div>
                    </div>
                </div>
            </div>

        </div>
</section>

<section class="text-gray-700 bg-pink body-font">
    <div class="container px-5 py-16 text-center text-white mx-auto">


        <h1 class="text-3xl font-medium title-font text-white mb-10 text-center"> {{ titel_blok_1 }}</h1>
        <div class=" lg:w-3/4 w-full text-white mx-auto text-center">

            <p class ="mb-5" {{ content }} </p>
            <a href="/nettt">
                <button class="rounded bg-white items-center text-pink px-4 mt-7 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                    Lees verder &raquo;
                </button> </a>

        </div>
    </div>
</section>
