<div class="w-full py-56  shadow-2xl px-34 bg-cover w-full h-32 object-bottom" style="background-image: url('{{ image }}');background-position: center">

    <div class="container max-w-7xl mx-auto">
    </div>

</div>

<section class="text-gray-700 bg-pink body-font">
    <div class="container px-5 py-16 text-center text-white mx-auto">


        <h1 class="text-3xl font-medium title-font text-white mb-5 text-center"> {{ title }}</h1>

        <div class="flex space-x-3 mt-8 text-xs tracking-widest uppercase">

            {{ categories }}


                <a href=" {{ url }} " class="bg-white items-center text-pink mb-10 hover:bg-pink hover:text-pink font-bold px-4 items-center py-2  no-underline hover:text-white  hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                    {{ title }}
        </a>
            {{ /categories }}

        </div>

        <div class=" lg:w-3/4 w-full text-white mx-auto text-center">
            <p class="text-sm0"> {{ project_content }}</p>


            <a href="{{url_project}}" add target="_blank">
                <button class="rounded bg-white items-center font-bold text-pink px-4 mt-10 py-3 no-underline text-pink transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-110 transition ease-in-out duration-300 ...">
                    Ga naar project &raquo;
                </button> </a>
        </div>
    </div>
</section>


<!-- /nieuws -->
<section class="text-gray-700 py-6 bg-white body-font">
    <div id="news">
        <h1 class="text-3xl font-bold title-font text-pink mt-10 mb-5 text-center">Meer projecten</h1>

        <div class="w-full px-10  text-left bg-white-300 text-pink leading-normal">
            <div class="container max-w7xl mx-auto flex justify-center flex-wrap md:flex-no-wrap">

                <div class="flex text-black flex-wrap pb-16">

                    <div class="container mb-20 mx-auto">

                        <div class="max-w-screen-xl mx-auto">

                            <aside class="border-t-8 border-pink max-w-2xl mx-auto">


                                {{ if related_projects }}

                                <div class="grid grid-cols-3 space-x-1 grid-cols-2 gap-8 mt-16 ">

                                    {{ related_projects}}

                                    {{ partial:projects/card }}

                                    {{ /related_projects}}
                                </div>


                                {{ else }}

                                <p class=text-black">Er zijn geen gerelateerde artikelen </p>

                                {{ /if }}

                            </aside>

                            </div>
                        </div>
                    </div>
                </div>
            </div>


