<a href="{{ url }}" class="{{ class }}">

    <div class=" text-sm text-gray-700 ">

    </div>

    <div class="transform motion-reduce:transform-none hover:-translate-y-1 hover:scale-90 transition ease-in-out duration-300">
                        <img class="lg:h-48 md:h-46 w-full object-cover object-center" src=" {{ image }} " alt=" {{ image:alt }} ">
                        <div class="p-6">
                            <h3 class="font-medium leading-tight">{{ title }}</h3>
                            <p class="font-light leading-tight">{{ date }}<p/>
                            <p class="leading-relaxed mb-3"> {{ content }}</p>

                    </div>
</div>

</a>



