
    <div class="container max-w-7xl mx-author">
    </div>

</div>



<a href="{{ url }}" class="{{ class }}">

    <div class=" text-sm text-gray-700 ">

    </div>

    <div class="transform motion-reduce:transform-none hover border-2 rounded border-gray ml-6 :-translate-y-1 hover:scale-90 transition ease-in-out duration-300">

                        <div class="p-6">
                            <h3 class="font-medium leading-tight">{{ title }}</h3>
                            <p class="font-light leading-tight">{{ date }}<p/>
                            <p class="leading-relaxed mb-3"> {{ content }}</p>

                    </div>
</div>

</a>



